# Ignore compiled binaries
*.exe
*.o
*.out

# Ignore temporary files
city_data.txt

tempCodeRunnerFile.c
*.log

# Ignore editor and system folders
.vscode/
.idea/

# Ignore build directories
build/
bin/
